_build/
.*
!.gitignore
*.py[co]
__pycache__/
!.github
!.mailmap
*.egg-info
*~
*.orig
status
odoo/filestore
odoo/addons/base/maintenance
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
install/win32/*.bat
install/win32/meta.py
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe
